{% extends 'main/nav.html' %}
<!DOCTYPE html>
{% block content %}
{% load static %}

<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>My Comment</title>
    <link rel="stylesheet" href="{% static 'mypage/css/mypost.css' %}" media="screen">
</head>

<body>
    <div class="container">

        <div class="post">
            <h2>내가 쓴 댓글</h2>
        </div>

        <div class="post-group">
            <!-- 내가 쓴 댓글 불러오는 공간 -->
            {% for comment in request.user.comment_set.all reversed %}
            <div class="post-list">
                <ul>
                    {% if comment.askPost %}
                    <a href="/message/ask/{{ comment.askPost.pk }}/#comment-{{ comment.pk}}">
                        <li>
                            <h3 class="title">
                                분실물 게시판<br>
                            </h3>
                            내용 : {{ comment.content }}<br>
                            작성시간: {{ comment.created_at }}
                        </li>
                    </a>
                    {% elif comment.findPost %}
                    <a href="/message/find/{{ comment.findPost.pk }}/#comment-{{ comment.pk}}">
                        <li>
                            <h3 class="title">
                                습득물 게시판<br>
                            </h3>
                            내용 : {{ comment.content }}<br>
                            작성시간: {{ comment.created_at }}
                        </li>
                    </a>
                    {% endif %}
                </ul>
            </div>
            {% endfor %}
        </div>

    </div>
</body>
{% endblock %}
</html>