{% extends 'main/nav.html' %}

{% block content %}
{% load static %}

<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>My Comment</title>
    <link rel="stylesheet" href="{% static 'mypage/css/mypost.css' %}" media="screen">
</head>

<body>
    <div class="container">

        <div class="post">
            <h2>내가 쓴 댓글</h2>
        </div>

        <div class="post-group">
            <!-- 내가 쓴 댓글 불러오는 공간(일부만?) -->
            {% for comment in request.user.comment_set.all %}
            <div class="post-list">
                <ul>
                    <li>
                        <h3>작성자 : <a href="{% if comment.post.type == 'ask' %}{% url 'ask-detail' pk=comment.post.pk %}
                                    {% elif comment.post.type == 'find' %}{% url 'find-detail' pk=comment.post.pk %}
                                    {% endif %}">{{ comment.author }}</a><br></h3>
                        내용 : {{ comment.content }}
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>

    </div>
</body>
{% endblock %}
</html>