{% extends 'main/nav.html' %}

{% block content %}
{% load static %}

<!-- 내가 쓴 게시글 목록 페이지 html -->
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>My Post</title>
    <link rel="stylesheet" href="{% static 'mypage/css/mypost.css' %}" media="screen">
</head>

<body>

    <div class="container">

        <div class="post">
            <h2>내가 쓴 게시글</h2>
        </div>

        <div class="post-group">
            <!-- 내가 쓴 게시글 불러오는 공간 -->
            {% for post in request.user.askitem_set.all %}
            <div class="post-list">
                <ul>
                    <li>
                        <h3>제목: <a href="{% url 'ask-detail' pk=post.pk %}">{{ post.title }}</a><br></h3>
                        내용: {{ post.content|slice:"10" }}
                    </li>
                </ul>
            </div>
            {% endfor %}

            {% for post in request.user.finditem_set.all %}
            <div class="content">
                <ul>
                    <li>
                        <h3>제목 : <a href="{% url 'find-detail' pk=post.pk %}">{{ post.title }}</a><br></h3>
                        내용 : {{ post.content|slice:"10" }}
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>

    </div>

</body>
{% endblock %}
</html>