{% extends 'main/nav.html' %}


{% block content %}

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>My Post</title>
</head>

<body>
<div class="container">
    <br/><br/><h1 style="margin-left:300px">내가 쓴 게시글</h1><br/><br/>
</div>
<!--    {% for posts in posts %}-->
<!--        <hr/>-->
<!--        <h2>{{ posts.title }}</h2>-->
<!--        <h4>{{ posts.author }}</h4>-->
<!--        <h5>{{ posts.created_at }}</h5>-->
<!--        <p>{{ posts.content }}</p>-->
<!--    {% endfor %}-->
</body>
{% endblock %}
</html>