{% extends 'message/base_html/base_detail.html' %}
{% load static %}

{% block main %}
<div class="main-title">
    <img class="main-title-image" src="/static/message/image/new_post_icon.png">
    <div class="main-title-font">
        잃어버렸나요?
    </div>
</div>

<!-- 게시글 수정 및 삭제 버튼 -->
<div class="function_button">
    {% if user.is_authenticated %}
    {% if user == item.author or user.is_superuser or user.is_staff %}
    <a class="detail-link" href="/message/ask/update_post/{{ item.pk }}/">
        <div class="content-revise-delete-button">
            <img src="/static/message/image/editing_icon.png" width="30" height="30">
            수정
        </div>
    </a>
    <a class="detail-link" href="/message/ask/delete_post/{{ item.pk }}/">
        <div class="content-revise-delete-button">
            <img src="/static/message/image/delete_icon.png" width="30" height="30">
            삭제
        </div>
    </a>
    {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="comment-container">
    {% if user.is_authenticated %}
    <!-- 댓글 입력 폼 -->
    <form id="comment-form" method="POST" action="/message/ask/{{ item.pk }}/new_comment/">
        {% csrf_token %}
        <div class="comment-form">
            {{ comment_form }}
            <button class="comment-form-button" type="submit">등록</button>
        </div>
    </form>
    {% else %}
    <a class="detail-link" role="button" href="/login/">로그인 후 이용 가능합니다.</a>
    <hr/>
    {% endif %}

    <!-- 댓글 컨텐츠 -->
    {% if item.comment_set.exists %}
    {% for comment in item.comment_set.iterator %}
    <div class="comment-content" id="comment-{{ comment.pk }}">

        <!-- 댓글 단 유저 정보 -->
        <img class="comment-profile-img" src="/static/message/image/user.png" alt="">
        <div class="comment-info-font">
            {{ comment.author.username }}<br/>
            <small style="color: gray;">{{ comment.created_at }}</small>
            {% if user.is_authenticated %}
            {% if user == comment.author or user.is_superuser or user.is_staff %}
            <button class="comment-delete-button" type="button"
                    onclick="location.href='/message/ask/delete_comment/{{ comment.pk }}/'">삭제
            </button>
            {% endif %}
            {% endif %}
        </div>

        <!-- 댓글 내용 -->
        <div class="comment-text">
            <p>
            <div class="comment-content-font">
                {{ comment.content | linebreaks }}
            </div>
            </p>
        </div>
    </div>
    <hr/>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}