<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>LostDS</title>
    <script src="https://kit.fontawesome.com/e7fbb82135.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'message/css/base_list.css' %}" media="screen">
</head>
<body>
<div class="container">
    <h1>{% block list_title %}물건을 잃어버리셨나요?<br>잃어버린 분실물을 올려주세요! {% endblock %}</h1>
    <h2>카테고리</h2>
    <br/>
    <div class="category-container">
        <div class="category-content">
            <div class="icon-text-wrapper">
                <i class="fa-solid fa-border-all fa-2xl" style="color: #4d4d4d;"></i>
                <h3>전체</h3>
            </div>
        </div>
        <div class="category-content">
            <div class="icon-text-wrapper">
                <i class="fa-solid fa-tablet-screen-button fa-2xl" style="color: #4d4d4d;"></i>
                <h3>전자기기</h3>
            </div>
        </div>
        <div class="category-content">
            <div class="icon-text-wrapper">
                <i class="fa-solid fa-bag-shopping fa-2xl" style="color: #4d4d4d;"></i>
                <h3>파우치 및 화장품</h3>
            </div>
        </div>
        <div class="category-content">
            <div class="icon-text-wrapper">
                <i class="fa-solid fa-wallet fa-2xl" style="color: #4d4d4d;"></i>
                <h3>기숙사카드</h3>
            </div>
        </div>
        <div class="category-content">
            <div class="icon-text-wrapper">
                <i class="fa-regular fa-credit-card fa-2xl" style="color: #4d4d4d;"></i>
                <h3>지갑 및 카드</h3>
            </div>
        </div>
        <div class="category-content">
            <div class="icon-text-wrapper">
                <i class="fa-solid fa-pencil fa-2xl" style="color: #4d4d4d;"></i>
                <h3>텀블러</h3>
            </div>
        </div>
        <div class="category-content">
            <div class="icon-text-wrapper">
                <i class="fa-solid fa-shirt fa-2xl" style="color: #4d4d4d;"></i>
                <h3>학용품</h3>
            </div>
        </div>
        <div class="category-content">
            <div class="icon-text-wrapper">
                <i class="fa-regular fa-face-meh-blank fa-2xl" style="color: #4d4d4d;"></i>
                <h3>의류</h3>
            </div>
        </div>
        <div class="category-content">
            <div class="icon-text-wrapper">
                <i class="fa-regular fa-rectangle-list fa-2xl" style="color: #4d4d4d;"></i>
                <h3>기타</h3>
            </div>
        </div>
    </div>
    <br/>
    {% block main_area %}
    {% endblock %}
</div>
</body>
</html>