<!-- 찾아간 분실물들을 보여주는 페이지 -->
<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>LostDS</title>
    <link rel="stylesheet" href="{% static 'message/css/base_list.css' %}" media="screen">
</head>

<body>
    <div class="container">
        <div class="main-title main-title-font">찾아간 물건들을 알려드립니다!</div>
        <!-- 습득물 페이지 이동 버튼 -->
        <div class="post-button">
            <div class="post-list-move-button">
                <a href="../find/">습득물 보러가기</a>
            </div>
        </div>
        <!-- 카테고리 -->
        <div class="category-container">
            <div class="category-content">
                <a class="detail-link" href="/message/complete_post/">
                    <div class="icon-text-wrapper">
                        <img src="/static/message/image/all.png" width="40" height="40">
                        <div class="category-font">전체</div>
                    </div>
                </a>
            </div>
            {% for category in categories %}
            <div class="category-content">
                <a class="detail-link" href="{{ category.get_absolute_url_complete }}">
                    <div class="icon-text-wrapper">
                        <img src="{{ category.head_image.url }}" width="40" height="40">
                        <div class="category-font">{{ category }}</div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <br />
        <div>
            {%if category %}<span style="font-size: x-large; font-weight: 700;"># {{ category }}</span>{% endif %}
        </div>

        <!-- 게시글 -->
        <div class="post-container">
            {% for item in object_list %}
            <a class="detail-link" href="{{ item.get_absolute_url }}">
                <div class="post-content">
                    {% if item.head_image %}
                    <img src="{{ item.head_image.url }}" style="border-radius: 10px 10px 0 0;" width="330px"
                        height="200px" alt="{{ item }} head image">
                    {% else %}
                    <img src="https://picsum.photos/seed/{{ item.id }}/330/200" style="border-radius: 10px 10px 0 0;"
                        alt="random_image">
                    {% endif %}
                    <div class="post-text-box">
                        <h2>{{ item.title }}</h2>
                        <h4>작성자 :: {{ item.author }}</h4>
                        <h5>{{ item.created_at }}</h5>
                        {% if item.category %}
                        <span style="color: gray;"># {{ item.category }}</span>
                        {% else %}
                        <span style="color: gray;"># 기타</span>
                        {% endif %}
                        <hr />
                        <p>{{ item.content | truncatechars:20 }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</body>

</html>