<!-- 습득물을 올리는 페이지 -->
{% extends 'message/base_html/base_list.html' %}
{% load static %}

{% block content %}
<div class="main-title main-title-font">
    물건을 습득하셨나요?<br>습득하신 분실물을 올려주세요!
</div>

<!-- 게시글 생성 버튼 및 '완료'페이지 이동 버튼 -->
<div class="post-button">
    <a class="detail-link-new-post" href="/message/complete_post/">
        <div class="post-list-move-button">
            <img src="/static/message/image/complete.png" width="40" height="40">
            찾아간 물품
        </div>
    </a>
    {% if user.is_authenticated %}
    <a class="detail-link-new-post" href="/message/find/create_post/">
        <div class="post-create-button">
            <img src="/static/message/image/new_post_icon.png" width="40" height="40">
            글 쓰기
        </div>
    </a>
    {% else %}
    <a class="detail-link-new-post" href="/login/">
        <div class="post-create-button">
            <img src="/static/message/image/new_post_icon.png" width="40" height="40">
            글 쓰기
        </div>
    </a>
    {% endif %}
</div>

<!-- 카테고리 -->
<div class="category-container">
    <div class="category-content">
        <a class="detail-link" href="/message/find/">
            <div class="icon-text-wrapper">
                <img src="/static/message/image/all.png" width="40" height="40">
                <div class="category-font">전체</div>
            </div>
        </a>
    </div>
    {% for category in categories %}
    <div class="category-content">
        <a class="detail-link" href="{{ category.get_absolute_url_find }}">
            <div class="icon-text-wrapper">
                <img src="{{ category.head_image.url }}" width="40" height="40">
                <div class="category-font">{{ category }}</div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
<br/>
<div class="category-tag">
    {%if category %}
    # {{ category }}
    {% endif %}
</div>
{% endblock %}