<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <title>LostDS</title>
  <link rel="stylesheet" href="{% static 'message/css/base_detail.css' %}" media="screen" />
</head>

<body>
  <div class="container">
    <h1>이 물건의 주인을 찾고있어요!</h1>
    <div class="title-content">
      <h2>{{ find.title }}</h2>
      <h4>{{ find.author }}</h4>
      <h5>{{ find.created_at }}</h5>
      {% if find.category %}
      <span style="color: gray"># {{ find.category }}</span>
      {% else %}
      <span style="color: gray"># 기타</span>
      {% endif %}
    </div>
    <hr />
    <div class="content-content">
      {% if user.is_authenticated and user == find.author %}
      <a href="/message/find/update_post/{{ find.pk }}/">수정</a>
      <a href="/message/find/delete_post/{{ find.pk }}/">삭제</a>
      {% endif %}
      <p>{{ find.content }}</p>
      <form action="{% url 'complete_post' pk=find.id %}" method="post">
        {% csrf_token %}
        <button type="submit">완료</button>
      </form>
    </div>

    <!-- 댓글 -->
    <div class="comment-container">
      {% if user.is_authenticated %}
      <form id="comment-form" method="POST" action="/message/find/{{ find.pk }}/new_comment/">
        {% csrf_token %}
        <div>
          {{ comment_form }}
        </div>
        <button type="submit">등록</button>
      </form>
      {% else %}
      <a role="button" href="#">로그인하신 후 이용 가능합니다.</a>
      {% endif %}
      {% if find.comment_set.exists %}
      {% for comment in find.comment_set.iterator %}
      <div class="comment-content" id="comment-{{ comment.pk }}">
        <img src="http://placehold.it/50x50" alt="">
        <div class="comment-text">
          <h5>{{ comment.author.username }} &nbsp;&nbsp;
            <small style="color: gray;">{{ comment.created_at }}</small>
          </h5>
          <p>{{ comment.content | linebreaks }}</p>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</body>

</html>