@font-face {
    font-family: 'MaruBuri';
    font-weight: 700;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/MaruBuri-Bold.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'EASTARJET-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/EASTARJET-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'EASTARJET-Medium';
    background-position: left bottom;
    background-position: left -50px bottom -45px;
    background-size: 630px 450px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* a 태그 폰트 색상 및 밑줄 설정 */
.detail-link {
    text-decoration-line: none;
}

.detail-link:link {
    color: black;
}

.detail-link:visited {
    color: black;
}

.detail-link:hover {
    color: black;
}

.detail-link:active {
    color: black;
}

.container {
    /* 컨텐츠의 최대 넓이 */
    max-width: 1140px;
    display: grid;
    margin: 0 auto;
}

/* 카테고리 정렬 */
.category-container {
    display: flex;
    /* 중앙 정렬 */
    justify-content: center;
}

.category-content {
    /* 너비를 100%로 유지 */
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background: #E8E6D5;
    box-shadow: 5px 5px #FAF2D2;
}

.category-font {
    margin-top: 10px;
    font-size: lg;
    font-weight: 700;
}

.category-content:hover {
    background: #FFEB9E;
}

.icon-text-wrapper {
    display: flex;
    /* 요소들을 세로 방향(위아래)으로 정렬 */
    flex-direction: column;
    /* 요소들을 수직(세로) 가운데 정렬 */
    align-items: center;
}

/* 포스트 정렬 */
.post-container {
    display: grid;
    /* 3개의 그리드 아이템을 최소 300px 너비로 반복해서 출력 */
    grid-template-columns: repeat(3, 1fr);
    /* 가운데 정렬 */
    margin: 0 auto;
}

.post-content {
    background: #D9D9D9;
    /* 컨텐츠의 최대 너비 */
    max-width: 100%;
    padding: 15px;
    margin: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.post-content:hover {
    position: relative;
    right: 10px;
    bottom: 10px;
    box-shadow: 5px 5px #4d4d4d;
}

.post-text-box {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}