@font-face {
    font-family: 'PuradakGentleGothicR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    text-shadow: 100px;
}

@font-face {
    font-family: 'EASTARJET-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/EASTARJET-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}


body {
    font-family: 'EASTARJET-Medium';
    background-color: #FAF2D2;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    position: relative;
    background-color: white;
    padding: 50px 150px;
    border-radius: 25px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

/* 폼 */
.container input {
    display: block;
    margin: 0 auto;
    width: 300px;
}

/* 버튼 */
.button-group {
    display: flex;
    justify-content: center;
}

.button-group button {
    margin-right: 10px;
}

[type=submit] {
    font-family: 'EASTARJET-Medium';
    background-color: #FFEB9E; 
    color: rgb(0, 0, 0); 
    border: none; 
    padding: 10px 20px; 
    border-radius: 50px; 
    cursor: pointer; 
}

[type=button] {
    font-family: 'EASTARJET-Medium';
    background-color: #E8E6D5; 
    color: rgb(0, 0, 0); 
    border: none; 
    padding: 10px 20px; 
    border-radius: 50px; 
    cursor: pointer; 
}