{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/nav.css' %}" media="screen">
    <title>LostDS</title>
    <style>
        .main { font-family: 'PuradakGentleGothicR'; font-size: 20;}
    </style>
</head>
<body>
    <div style="display: flex; flex-direction: column;">
    <navigation class="nav">
        <a href='/' class='main'>LostDS</a>
        <a href="message/ask/" class='item'>잃어버렸나요?</a>
        <a href="message/find/" class='item'>주인을 찾아요!</a>
        <a href='https://map.naver.com/p/search/%EB%8D%95%EC%84%B1%EC%97%AC%EC%9E%90%EB%8C%80%ED%95%99%EA%B5%90?c=15.00,0,0,0,dh' class='item'>지도</a>
        <a href='' class='item'>마이페이지</a>
        {% if user.is_authenticated %}
            <a href='/login/logout' class='item'>로그아웃</a>
        {% else %}
            <a href="{% url 'login' %}" class='item'>로그인</a>
        {% endif %}

    </navigation>

    {% block content %} {% endblock %}
    </div>
</body>

</html>